@import "~normalize.css/normalize.css";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@400;500;600;700;800&family=Nunito+Sans:wght@400;600;700;800&family=Open+Sans:ital,wght@0,400;0,800;1,400&display=swap');

@import './variables.scss';

@import './hero.scss';

@import './header.scss';

@import './mission.scss';

@import './programs.scss';

@import './plan.scss';

@import './community.scss';

@import './faq.scss';

@import './join-now.scss';

@import './footer.scss';

* {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: $c-white;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
}

.intro {
    background-color: $c-dark;
    background-image: url(../images/m-hero.png);
    background-repeat: no-repeat;
    background-position: 80%;
    min-height: 790px;
    margin-bottom: 175px;
  }

.green {
    color: $c-primary;
}

