.faq {
    margin-bottom: 150px;

  &__wrapper {
    background-image: url("../images/faq-question.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
    background-size: contain;

    @media (max-width: 1280px) {
      padding: 105px;
      background-position-y: 10%;
    }
    
    @media (max-width: 428px) {
      padding: 0;
      background: none;
    }

  }

  &__title {
    font-family: 'Inter', sans-serif;
    margin: 0 0 72px;

    @media (max-width: 428px) {
      text-align: left;
      padding-left: 40px;
      position: relative;

      &:before {
        position: absolute;
        content: url(../images/question-icon-iphone.png);
        left: 0%;
        top: -28%;
      }
    }

  }

  &__items {
    max-width: 768px;
    margin: auto;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    flex-direction: column;
    margin-bottom: 16px;
    border: 1px solid rgba(19, 19, 22, 0.1);
    border-radius: 2px;
    background: #FFF;

    &:last-child {
      margin-bottom: 384px;

      @media (max-width: 1280px) {
        margin-bottom: 130px;
      }

    }

    &-name {
      margin: 0;
      padding: 20px 30px 20px 30px;
      display: flex;
      justify-content: space-between;

      &::after {
        content: url('../images/arrow-p.png');
        cursor: pointer;
        width: 22px;
        height: 22px;

      }
    }

    &-text {
        display: none;
        padding: 0 30px;
    }
  }
}
