.faq {

  &__wrapper {
    padding-bottom:60px;
    background-image: url("../images/faq-question.png");
    background-repeat: no-repeat;
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 0 72px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    line-height: 28px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    flex-direction: column;
    margin-bottom: 16px;
    border: 1px solid rgba(19, 19, 22, 0.1);
    border-radius: 2px;

    &:last-child {
      margin-bottom: 384px;
    }

    &-name {
      margin: 0;
      padding: 20px 30px 20px 30px;
      display: flex;
      justify-content: space-between;

      &::after {
        content: url('../images/arrow-p.png');
        cursor: pointer;

      }
    }

    &-text {
        display: none;
        padding: 0 30px;
    }
  }
}