.join {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  &__btn {
    background-color: #fff;
    border-radius: 1px;
    color: #131316;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    max-width: 160px;
    padding: 14px 40px;
    text-decoration: none;
    width: 100%;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    position: relative;
    margin-top: -60px;
    left: 20%;
  }

  &__title {
    font-size: 60px;
    color: #FFF;
    line-height: 62px;
    max-width: 460px;
    margin: 0 0 24px;
  }

  &__text {
    font-size: 20px;
    line-height: 32px;
    color: #FFF;
    max-width: 460px;
    margin: 0 0 32px;
    position: absolute;
    left: 53%;
    padding: 45px 0 0;
  }

  &__footer {
    padding: 10px 0 20px;
  }

}

.container__bot {
  background-color: #131316;
}


.footer__reserved {
  font-size: 12px;
  line-height: 18px;
  color: #9797A1;

}
