.join {
  background-color: #131316;

  & > .container {
    padding: 0px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

    @media (max-width: 428px) {
      min-height: 502px;
    }

  }

  &__btn {
    background-color: $c-white;
    border-radius: 1px;
    color: #131316;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    max-width: 160px;
    padding: 14px 40px;
    text-decoration: none;
    width: 100%;
  }


  &__img {
    position: relative;
    margin-top: -60px;
    left: 20%;
    
    @media (max-width: 1280px) {
      position: static;
    }

    @media (max-width: 428px) {
      width: 75%;
      margin-top: -80px;
    }
  }

  &__title {
    color: $c-white;
    margin: 0 0 24px;

    @media (max-width: 428px) {
      font-size: 40px;
      line-height: 40px;
      max-width: 348px;
      margin: 0 0 16px;
    }

  }

  &__info {
    font-size: 20px;
    line-height: 32px;
    color: $c-white;
    max-width: 460px;
    margin: 0 0 32px;
    position: absolute;
    max-width: 460px;
    right: 3%;
    top: 10%;

    @media (max-width: 428px) {
      font-size: 16px;
      line-height: 26px;
      max-width: 348px;
      margin: 0 0 16px;
      padding: 0;
      position: absolute;
      left: 8%;
      top: 47%;
    }

  }

  &__text {
    margin: 0 0 32px;
  }
}

